@font-face {
	font-family: "CFJackStory";
	src: url("../fonts/CFJackStory-Regular.ttf");
}

@font-face {
	font-family: "IntriqueScript";
	src: url("../fonts/IntriqueScript.ttf");
}

@font-face {
	font-family: "ColorsOfAutumn";
	src: url("../fonts/Colors Of Autumn.ttf");
}

@font-face {
	font-family: "Philosopher";
	src: url("../fonts/Philosopher-Regular.ttf");
}
