.dtr-details {
  border-bottom: 2px solid black;
}

.child:hover {
  background-color: var(--tbl-child-hover) !important;
}

.odd {
  background-color: var(--tbl-row-odd) !important;
}

.even {
  background-color: var(--tbl-row-even) !important;
}

.cs-text-center {
  text-align: center;
}

figcaption {
  text-align: center;
}

.headingBase {
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  font-family: CFJackStory;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
  margin: 0px;
}

.themelogo {
  width: 16em;
  height: 16em;

  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.themepicture {
  width: 10em;
  height: 10em;

  display: block;
  margin-top: 70px;
  margin-bottom: 50px;

  margin-left: 50%;
  margin-right: auto;
  vertical-align: middle;
}

.lineSVG {
  width: 45em;
  height: 5em;

  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.linePNG {
  width: 30em;
  height: 5em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.themeContainer {
  min-width: 150px;
  width: 180px;
  margin-top: -8px;
  margin-bottom: -12px;
}

.lineContainer {
  height: 54px;
  width: 670px;
  margin-top: -14px;
}

/*  Heading */
.start {
  font-size: 4em;
}

.middle {
  font-size: 1.5em;
  font-weight: normal;
}

.end {
}

/* Menu */

.menuButton {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  font-size: 2em;
  margin-right: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuButton:hover {
  animation-name: grow;
  animation-duration: 1s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 1s;
}

/* About */

.aboutPic {
  height: 220px;
  width: 230px;
  border-radius: 150px;
}

.aboutTable {
  width: 800px;
}

/* Projects */

.projectsTable {
  width: 800px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.8);
  color: white;

  border-radius: 15px;
  border-collapse: collapse;
}

.projectsTable th {
  font-size: 25pt;
  color: #dd5;
}

.projectsTable td {
  cursor: pointer;
}

.projectsTable tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  height: 50px;
}

.projectsTable tr:last-child {
  border: 0px;
}

.projectsTable tr:first-child:hover {
  background-color: rgba(0, 0, 0, 0);
}

.projectsTable tr:hover {
  background-color: rgba(52, 73, 94, 1);
}

.projectsTable a {
  color: white;
}

.projectsTable * {
  margin: 5px;
}

.preview {
  display: block;
  height: 50%;
  width: 50%;
  transition: all 1s;
}

.preview2 {
  display: block;
  height: 50%;
  width: 50%;
}

img.preview:hover {
  height: auto;
  transform: scale(200%);
}

.hideSection {
  display: none;
}

/* Global Stuff */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line_one {
  background: var(--text-color) url("../images/hr.png") no-repeat center center;
  background-size: cover;
  height: 54px;
  width: 400px;
  margin-top: -8px;
}

hr {
  border: 0px;
  width: 80%;
  border-bottom: 2px dashed var(--text-color);
}

#header {
  min-width: 800px;
}

.menu-container {
  position: relative;
  width: 900px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 50%;
  margin-top: 40px;
  color: var(--text-color);
  font-family: ColorsOfAutumn;
  width: 800px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

#content {
  color: var(--text-color);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: Philosopher;
  font-size: 1.5em;
  box-sizing: border-box;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#content p {
  display: block;
  text-align: justify;
  text-justify: inter-word;
  transition: 1s;
}

h1,
h2,
h3,
h4 {
  font-family: CFJackStory;
  text-align: center;
}

a {
  color: var(--link-color);
  transition: all 1s ease;
  -webkit-transition-delay: all 1s ease;
  -moz-transition-delay: all 1s ease;
  -ms-transition-delay: all 1s ease;
  -o-transition-delay: all 1s ease;
  text-shadow: 5px 5px 12px var(--link-text-shadow-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

#comments {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 16px 18px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  #comments {
    background: rgba(10, 25, 47, 0.65);
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.55);
  }
}

#comments .mastodon-comments-list {
  font-size: 1rem;
  line-height: 1.55;
}

#comments .mastodon-comments-list h3 {
  margin: 0 0 12px 0;
  font-size: 1.2em;
}

#comments .mastodon-comments-list a {
  text-shadow: none;
  word-break: break-word;
}

#comments .comment-body {
  text-align: left;
}

#comments .comment-body p {
  text-align: left;
  text-justify: auto;
}

#comments small {
  opacity: 0.75;
}

#comments a.button {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--link-color);
  text-shadow: none;
}

#comments a.button:hover {
  background: var(--link-color);
  color: var(--bg-color);
}

body {
  overflow-x: hidden;
}

.pictureContainer {
  border: 15px solid transparent;
  border-image: url("../images/div-custom-frame.png") 34 round;
  display: block;
  width: 740px;
  /*height: 560px;*/
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

.imageSlide {
  width: 740px;
  height: 416px;
  object-fit: cover;
}

.column {
  /*
	float: left;
	width: 148px;
	height: 120px;*/
  display: inline;
}

.column > .demo {
	width: 148px;
	height: 120px;
  object-fit: cover;
}

.img-comp-container {
  height: 400px; 
}

.img-comp-container > div > img {
  height: 400px;
  width: 780px;
}

.img-comp-ew {
  height: 500px !important;
}

.img-comp-ew > div > img {
  height: 500px !important;
  width: 780px;
}

@media (max-width: 900px) {
  .menu-container {
    width: 600px;
  }

  .pictureContainer {
    border: 10px solid transparent;
    border-image: url("../images/div-custom-frame.png") 34 round;
    width: 540px;
    height: 460px;
  }

  #menu {
    width: 600px;
    left: 63%;
  }

  .aboutTable > tbody > tr > td {
    display: block;
    width: auto !important;
  }

  .aboutPic {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .email-about {
    width: 280px;
    display: inline-block;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p {
    margin-left: 50px;
  }

  #content {
    width: 600px;
  }

  .aboutTable {
    width: 600px;
  }

  .start {
    font-size: 3em;
  }

  .projectsTable {
    width: 600px;
  }

  #header {
    width: auto;
    min-width: 600px;
  }

  .imageSlide {
    width: 540px;
    height: 390px;
    object-fit: cover;
  }
  /*
  .column {
    float: left;
    width: 77px;
    height: 60px;
  }*/
  
  .column > .demo {
    width: 77px;
    height: 60px;
    object-fit: cover;
  }

  .img-comp-container {
    height: 320px !important; 
  }
  
  .img-comp-container > div > img {
    height: 320px;
    width: 570px;
  }
  
  .img-comp-ew {
    height: 400px !important;
  }
  
  .img-comp-ew > div > img {
    height: 400px !important;
    width: 570px;
  }
}



@media (max-width: 600px) {
  .menu-container {
    width: 380px;
  }

  .pictureContainer {
    border: 8px solid transparent;
    border-image: url("../images/div-custom-frame.png") 34 round;
    width: 280px;
    height: 220px;
  }

  #menu {
    width: 380px;
    left: 63%;
  }

  .email-about {
    width: 250px;
    display: inline-block;
  }

  #content {
    width: 320px;
    font-size: 1em;
  }


  .start {
    font-size: 1.7em;
  }

  .projectsTable {
    width: 300px;
  }

  #header {
    width: auto;
    min-width: 0px;
  }

  .menuButton {
    font-size: 1.2em;
  }

  #content > h1 {
    font-size: 1em;
  }

  .lineContainer {
    width: auto;
  }

  .linePNG {
    scale: 0.75;
    width: 20em;
  }

  .aboutPic {
    height: 150px;
    width: 150px;
    margin-bottom: 90px;
  }

  .aboutTable {
    font-size: 16px;
    width: 420px;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p {
    margin-left: 25px;
  }


  .aboutTable > tbody > tr > td {
    display: block;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    width: 280px !important;
  }

  .aboutPic {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .imageSlide {
    width: 280px;
    height: 175px;
    object-fit: cover;
  }
  /*
  .column {
    float: left;
    width: 40px;
    height: 38px;
  }*/
  
  .column > .demo {
    width: 40px;
    height: 38px;
    object-fit: cover;
  }

  .img-comp-container {
    height: 168px !important; 
  }
  
  .img-comp-container > div > img {
    height: 168px;
    width: 300px;
  }
  
  .img-comp-ew {
    height: 211px !important;
  }
  
  .img-comp-ew > div > img {
    height: 211px !important;
    width: 300px;
  }

  .img-comp-slider {
    width: 20px !important;
    height: 20px !important;
  }

  #games-list img {
    width: 200px !important;
    height: 120px !important;
  }
}

@media (max-width: 420px) {
  #menu {
    left: 59%;
  }

  .aboutTable {
    width: 410px;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p {
    text-align: left !important;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p {
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  body {
    overflow-x: auto;
  }

  .aboutTable {
    width: 300px;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p {
    text-align: left !important;
  }

  .pictureContainer {
    border: 5px solid transparent;
    border-image: url("../images/div-custom-frame.png") 34 round;
    width: 260px;
    height: 220px;
  }

  #menu {
    width: 300px;
    left: 59%;
  }

  .themepicture {
    width: 8em;
    height: 8em;
    margin-left: 45%;
  }

  .start {
    font-size: 1.4em;
  }

  .middle {
    font-size: 1.2em;
  }

  .imageSlide {
    width: 260px;
    height: 180px;
    object-fit: cover;
  }
  /*
  .column {
    float: left;
    width: 37px;
    height: 35px;
  }*/
  
  .column > .demo {
    width: 37px;
    height: 35px;
    object-fit: cover;
  }

  .menu-container {
    width: 0px;
    padding-left: 300px;
  }

  #menu {
    width: 240px;
    left: 59%;
  }

  .email-about {
    width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
  }

  .aboutTable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > p {
    margin-left: 0px;
  }
}

