@font-face {
    font-family: 'ColorsOfAutumn';
    src: url('../fonts/ColorsOfAutumn.eot');
    src: local('../fonts/Colors Of Autumn'), local('../fonts/ColorsOfAutumn'),
        url('../fonts/ColorsOfAutumn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ColorsOfAutumn.woff2') format('woff2'),
        url('../fonts/ColorsOfAutumn.woff') format('woff'),
        url('../fonts/ColorsOfAutumn.ttf') format('truetype'),
        url('../fonts/ColorsOfAutumn.svg#ColorsOfAutumn') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CFJackStory';
    src: url('../fonts/CFJackStory-Regular.eot');
    src: local('../fonts/CF Jack Story Regular'), local('../fonts/CFJackStory-Regular'),
        url('../fonts/CFJackStory-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CFJackStory-Regular.woff2') format('woff2'),
        url('../fonts/CFJackStory-Regular.woff') format('woff'),
        url('../fonts/CFJackStory-Regular.ttf') format('truetype'),
        url('../fonts/CFJackStory-Regular.svg#CFJackStory-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IntriqueScript';
    src: url('../fonts/IntriqueScriptPersonalUse.eot');
    src: local('../fonts/Intrique Script Personal Use'), local('../fonts/IntriqueScriptPersonalUse'),
        url('../fonts/IntriqueScriptPersonalUse.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IntriqueScriptPersonalUse.woff2') format('woff2'),
        url('../fonts/IntriqueScriptPersonalUse.woff') format('woff'),
        url('../fonts/IntriqueScriptPersonalUse.ttf') format('truetype'),
        url('../fonts/IntriqueScriptPersonalUse.svg#IntriqueScriptPersonalUse') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher.eot');
    src: local('../fonts/Philosopher'),
        url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Philosopher.woff2') format('woff2'),
        url('../fonts/Philosopher.woff') format('woff'),
        url('../fonts/Philosopher.ttf') format('truetype'),
        url('../fonts/Philosopher.svg#Philosopher') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

