@keyframes null
{
	from {color: black;}
	to   {color: black;}
}

@-webkit-keyframes null
{
	from {color: black;}
	to   {color: black;}
}

@keyframes shake
{
	0%	{transform: rotate(0deg);}
	15% {transform: rotate(-30deg);}
	40% {transform: rotate(-60deg);}
	60% {transform: rotate(60deg);}
	75% {transform: rotate(30deg);}
	100%{transform: rotate(0deg);}

}

@-webkit-keyframes shake
{
	0%	{transform: rotate(0deg);}
	25% {transform: rotate(-30deg);}
	50% {transform: rotate(-60deg);}
	60% {transform: rotate(30deg);}
	95% {transform: rotate(15deg);}
	100%{transform: rotate(0deg);}
}

@keyframes grow
{
	0%  {transform: scale(1, 1);}
	50% {transform: scale(1.2, 1.2);}
	100%{transform: scale(1, 1);} 

}

@-webkit-keyframes grow
{
	0%  {-webkit-transform: scale(1, 1);}
	50% {-webkit-transform: scale(1.2, 1.2);}
	100%{-webkit-transform: scale(1, 1);} 
}

@keyframes moveLeftVanish
{
	from {left: 0px; opacity: 1;}
	to   {left: -200px; opacity: 0;}
}

@-webkit-keyframes moveLeftVanish
{
	from {left: 0px; opacity: 1;}
	to   {left: -200px; opacity: 0;}
}

@keyframes moveRightVanish
{
	from {left: 0px; opacity: 1;}
	to   {left: 200px; opacity: 0;}
}

@-webkit-keyframes moveRightVanish
{
	from {left: 0px; opacity: 1;}
	to   {left: 200px; opacity: 0;}
}

@keyframes vanish
{
	from {opacity: 1;}
	to   {opacity: 0;}
}

@-webkit-keyframes vanish
{
	from {opacity: 1;}
	to   {opacity: 0;}
}

@keyframes appear
{
	from {opacity: 0;}
	to   {opacity: 1;}
}

@-webkit-keyframes appear
{
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes rotateVanish
{
	from 
	{
		transform: rotate(0deg); 
		opacity: 1; 
		font-size: 10pt
	}

	to 
	{
		transform: rotate(-360deg); 
		opacity: 0;
		font-size: 4pt;
	}
}

@-webkit-keyframes rotateVanish
{
	from 
	{
		transform: rotate(0deg); 
		opacity: 1; 
		font-size: 10pt
	}

	to 
	{
		transform: rotate(-360deg); 
		opacity: 0;
		font-size: 4pt;
	}
}

@keyframes textBlur
{
	from {
		color: transparent;
   		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	to {
		color: rgba(0,0,0,0.6);
    	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}
}

@-webkit-keyframes textBlur
{
	from {
		color: transparent;
   		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
	to {
		color: rgba(0,0,0,0.6);
    	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}
}

@keyframes textBlur1
{
	from {
		color: rgba(0,0,0,0.6);
    	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}
	to {
		color: transparent;
   		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
}

@-webkit-keyframes textBlur1
{
	from {
		color: rgba(0,0,0,0.6);
    	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}
	to {
		color: transparent;
   		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
}