body {

	/*background: rgba(0, 0, 0, 0) url("../images/Tempholder.png") no-repeat fixed top;*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8ed6ff+0,004cb3+100 */
    background: #8ed6ff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGVkNmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNGNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #8ed6ff 0%, #004cb3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8ed6ff), color-stop(100%,#004cb3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #8ed6ff 0%,#004cb3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #8ed6ff 0%,#004cb3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #8ed6ff 0%,#004cb3 100%); /* IE10+ */
    background: linear-gradient(135deg,  #8ed6ff 0%,#004cb3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed6ff', endColorstr='#004cb3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    background-size: cover;
    background-position: static;
    -webkit-background-size: cover;
    -webkit-backface-visibility: hidden;
}

#main, #threejsmain {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -9998;
	background-size: 100% 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height:100%;
    min-width: 1000px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#background {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -9999;
	background-size: 100% 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height:100%;
    min-width: 1000px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menu {

	min-height: 70px;
}

.aboutTable {
    width: 100%;
}