@font-face {
	font-family: "CFJackStory";
	src: url("https://classic.richardorilla.website/fonts/CFJackStory-Regular.ttf");
}

@font-face {
	font-family: "IntriqueScript";
	src: url("https://classic.richardorilla.website/fonts/IntriqueScript.ttf");
}

@font-face {
	font-family: "ColorsOfAutumn";
	src: url("https://classic.richardorilla.website/fonts/Colors Of Autumn.ttf");
}

@font-face {
	font-family: "Philosopher";
	src: url("https://classic.richardorilla.website/fonts/Philosopher-Regular.ttf");
}
